.solutions-main {
  width: 100vw;
  min-height: 100vh;
  background-color: #060b14;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 12vh;
  padding: 2.5rem 0;
}

.solutions-container {
    height: 100%;
    font-size: x-large;
    padding: 5rem;
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .solutions-main {
    /* margin-top: 0; */
  }
  .solutions-container {
    padding: 2rem;
  }
  
}